{:index 0, :time 13344417, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 15245500, :type :info, :process :nemesis, :f :start-partition, :value :one}
{:index 2, :time 17021334, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n0" #{}}]}
{:index 3, :time 18091417, :type :ok, :process 0, :f :read, :value nil}
{:index 4, :time 78691125, :type :invoke, :process 0, :f :read, :value nil}
{:index 5, :time 80059500, :type :ok, :process 0, :f :read, :value nil}
{:index 6, :time 118219834, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 7, :time 5123652417, :type :info, :process 0, :f :broadcast, :value 0, :error :net-timeout}
{:index 8, :time 5123771667, :type :invoke, :process 1, :f :broadcast, :value 1}
{:index 9, :time 8847186250, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 10, :time 8847786167, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 11, :time 10128543000, :type :info, :process 1, :f :broadcast, :value 1, :error :net-timeout}
{:index 12, :time 10128648750, :type :invoke, :process 2, :f :broadcast, :value 2}
{:index 13, :time 15128545042, :type :info, :process 2, :f :broadcast, :value 2, :error :net-timeout}
{:index 14, :time 15128613000, :type :invoke, :process 3, :f :read, :value nil}
{:index 15, :time 20128535917, :type :fail, :process 3, :f :read, :value nil, :error :net-timeout}
{:index 16, :time 20128585167, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 17, :time 20129034125, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 18, :time 30134435750, :type :invoke, :process 3, :f :read, :value nil, :final? true}
{:index 19, :time 35141081042, :type :fail, :process 3, :f :read, :value nil, :final? true, :error :net-timeout}
